/* Set padding to keep content from hitting the edges */
@font-face {
    font-family: 'IranSans';
    src: url('/Content/IranSans/IRANSansLight.woff') format('woff'), url('/Content/IranSans/IRANSansLight.ttf') format('truetype');
    font-weight: normal
}

@font-face {
    font-family: 'IranSans';
    src: url('/Content/IranSans/IRANSansMedium.woff') format('woff'), url('/Content/IranSans/IRANSansMedium.ttf') format('truetype');
    font-weight: bold
}

html, body {
    font-family: IranSans;
    color: #797979;
    background: #f1f2f7;
    font-size: 13px;
}

/*
    ============Common Css================
*/
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
/*bg-color*/
.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}
/*fill-color*/
.fill-orange {
    fill: #FFC10D;
}

.fill-blue {
    fill: #56ACE0
}

.fill-dark-blue {
    fill: #194F82;
}

.fill-white {
    fill: #ffffff;
}

.fill-dark {
    fill: #333
}
/*fill-color*/
.text-orange {
    color: #FFC10D;
}

.text-blue {
    color: #56ACE0
}

.text-dark-blue {
    color: #194F82;
}

.text-dark {
    color: #333
}

.text-green {
    color: #10c469;
}

.text-red {
    color: #ff5b5b;
}

/*display*/
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block
}
/*direction*/
.rtl {
    direction: rtl
}

.ltr {
    direction: ltr
}
/*text*/
.enText {
    font-family: 'Open Sans', sans-serif, Arial;
    direction: ltr;
}

.bold {
    font-weight: bold;
}

.ver-middle {
    vertical-align: middle;
}

.middle-inline {
    vertical-align: middle;
    display: inline-block
}

::selection {
    background: #ffc10d;
    color: #fff;
}

::-moz-selection {
    background: #ffc10d;
    color: #fff;
}

.append-icon {
    margin-left: 4px;
    vertical-align: middle;
}

.card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

    .card-box h4 {
        margin: 0;
        padding-bottom: 8px;
    }

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.pad-0 {
    padding: 0 !important;
}

.pad-b-0 {
    padding-bottom: 0 !important;
}

.pd-rl-0 {
    padding-right: 0;
    padding-left: 0;
}

.flat-border {
    border-radius: 0;
}

.width-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.btn-action {
    padding: 3px 7px;
}

.table-center td {
    vertical-align: middle !important;
}

.input-group.add-button .input-group-addon {
    padding: 0 !important;
    border-right: 0;
}

.input-group .form-control:first-child {
    border-left: 0 !important
}

.form-desc {
    font-size: 11px;
    margin-top: 15px;
    text-align: left;
}

.div-striped {
    border: 1px solid #ebf1f6;
}

    .div-striped > div > div {
        padding: 10px;
    }

    .div-striped > div:nth-child(2n+1) {
        background-color: #f4f8fb !important;
    }

.clear {
    clear: both;
}

.section-heading {
    font-size: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #194f82;
    margin-bottom: 0;
}

    .section-heading:before {
        content: "";
        width: 80px;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -1px;
        height: 2px;
        background: orange;
    }

.section-body {
    background: rgba(213, 219, 248, 0.18);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #eee;
    border-top: none;
}

.CheckBoxList-4 > div {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
}

.CheckBoxList-3 > div {
    width: 33.333%;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
}

.CheckBoxList-2 > div {
    width: 50%;
    padding: 5px 15px;
    float: right;
    line-height: 28px;
}
/*
============Login Paghe============
*/
.account-pages {
    background: url(../Images/login-bg.jpg) center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.wrapper-page {
    padding: 5% 0;
    position: relative;
    width: 420px;
    margin: auto;
}

    .wrapper-page .card-box {
        box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
        padding: 20px;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin-bottom: 20px;
        background-color: #ffffff;
    }

.captcha-control .form-control {
    padding-right: 95px;
    padding-left: 40px;
}

.captcha-control img {
    position: absolute;
    top: 1px;
    right: 1px;
}

.captcha-control .btn {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 34px;
    vertical-align: middle;
    text-align: center;
    padding: 6px 10px;
}
/*
============File Upload============
    */
.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

    .file-upload-wrapper:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        display: block;
        width: calc(100% - 80px);
        pointer-events: none;
        z-index: 20;
        font-weight: 300;
        border: 1px solid #e2e2e4;
        box-shadow: none;
        color: #565656;
        border-radius: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 1.42857143;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        border-right: 0;
    }

    .file-upload-wrapper:before {
        content: "آپلود";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 34px;
        background-color: #71b6f9;
        border-color: #71b6f9;
        color: #fff;
        z-index: 25;
        font-size: 14px;
        pointer-events: none;
        width: 80px;
        text-align: center;
        line-height: 34px;
    }

    .file-upload-wrapper:hover:before {
        background: #5ca9f4;
    }

    .file-upload-wrapper input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 40px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
/*
============Check box============
    */
.form-control.ltr::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    direction: rtl;
}

.form-control.ltr::-moz-placeholder { /* Firefox 19+ */
    direction: rtl;
}

.form-control.ltr:-ms-input-placeholder { /* IE 10+ */
    direction: rtl;
}

.form-control.ltr:-moz-placeholder { /* Firefox 18- */
    direction: rtl;
}

.checkbox-custom label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #e2e2e4;
    content: "";
    display: inline-block;
    height: 17px;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
    margin-left: 4px;
    vertical-align: middle;
}

.checkbox-custom label::after {
    display: inline-block;
    font-size: 11px;
    height: 16px;
    right: 0;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

.checkbox-custom label {
    display: inline-block;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.checkbox-custom input[type="checkbox"] {
    display: none;
}

    .checkbox-custom input[type="checkbox"]:checked ~ label::after {
        content: "\f00c";
        font-family: 'FontAwesome';
        color: #ffffff;
    }

    .checkbox-custom input[type="checkbox"]:checked ~ label::before {
        background-color: #71b6f9;
        border-color: #71b6f9;
    }

.checkbox-primary input[type="checkbox"]:checked ~ label::before {
    background-color: #188ae2;
    border-color: #188ae2;
}

.checkbox-primary input[type="checkbox"][disabled="disabled"]:checked ~ label::before, .checkbox-primary input[type="checkbox"][disabled="disabled"]:checked ~ label::after {
    opacity: 0.7;
}

.checkbox-danger input[type="checkbox"]:checked ~ label::before {
    background-color: #ff5b5b;
    border-color: #ff5b5b;
}

.checkbox-info input[type="checkbox"]:checked ~ label::before {
    background-color: #35b8e0;
    border-color: #35b8e0;
}

.checkbox-warning input[type="checkbox"]:checked ~ label::before {
    background-color: #f9c851;
    border-color: #f9c851;
}

.checkbox-success input[type="checkbox"]:checked ~ label::before {
    background-color: #10c469;
    border-color: #10c469;
}

.checkbox-custom.checkbox-single label {
    height: 17px;
    padding-right: 0;
}

    .checkbox-custom.checkbox-single label::before {
        margin-left: 0;
    }

.checkbox-custom.checkbox-single input[type="checkbox"] {
    height: 17px;
    width: 17px;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
    display: block;
    margin-top: 0;
}

.checkbox-34:not(.checkbox-single) {
    top: 13px;
    position: relative;
}

.checkbox-34 label::before, .checkbox-34.checkbox-single label, .checkbox-34.checkbox-single input[type="checkbox"] {
    width: 34px;
    height: 34px;
}

.checkbox-30 label::before, .checkbox-30 label::after {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.checkbox-34 label::after {
    height: 34px;
    width: 34px;
    font-size: 13px;
    line-height: 34px;
}

.checkbox-custom + .checkbox-custom {
    margin-top: 10px;
}
/* Radios */
.radio {
    padding-left: 20px;
}

    .radio label {
        display: inline-block;
        padding-right: 5px;
        position: relative;
    }

        .radio label::before {
            -o-transition: border 0.5s ease-in-out;
            -webkit-transition: border 0.5s ease-in-out;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #cccccc;
            content: "";
            display: inline-block;
            height: 17px;
            right: 0;
            margin-right: -20px;
            outline: none !important;
            position: absolute;
            transition: border 0.5s ease-in-out;
            width: 17px;
        }

        .radio label::after {
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -webkit-transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            background-color: #71b6f9;
            border-radius: 50%;
            content: " ";
            display: inline-block;
            height: 11px;
            right: 3px;
            margin-right: -20px;
            position: absolute;
            top: 3px;
            transform: scale(0, 0);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            width: 11px;
        }

    .radio input[type="radio"] {
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        outline: none !important;
    }

        .radio input[type="radio"]:disabled + label {
            opacity: 0.65;
        }

        .radio input[type="radio"]:focus + label::before {
            outline-offset: -2px;
        }

        .radio input[type="radio"]:checked + label::after {
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }

        .radio input[type="radio"]:disabled + label::before {
            cursor: not-allowed;
        }

    .radio.radio-inline {
        margin-top: 0;
    }

    .radio.radio-single label {
        height: 17px;
    }

.radio-custom input[type="radio"] + label::after {
    background-color: #71b6f9;
}

.radio-custom input[type="radio"]:checked + label::before {
    border-color: #71b6f9;
}

.radio-custom input[type="radio"]:checked + label::after {
    background-color: #71b6f9;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #188ae2;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #ff5b5b;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #ff5b5b;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #ff5b5b;
}

.radio-info input[type="radio"] + label::after {
    background-color: #35b8e0;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #35b8e0;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #35b8e0;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f9c851;
}

.radio-success input[type="radio"] + label::after {
    background-color: #10c469;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #10c469;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #10c469;
}

.radio-purple input[type="radio"] + label::after {
    background-color: #5b69bc;
}

.radio-purple input[type="radio"]:checked + label::before {
    border-color: #5b69bc;
}

.radio-purple input[type="radio"]:checked + label::after {
    background-color: #5b69bc;
}

.radio-pink input[type="radio"] + label::after {
    background-color: #ff8acc;
}

.radio-pink input[type="radio"]:checked + label::before {
    border-color: #ff8acc;
}

.radio-pink input[type="radio"]:checked + label::after {
    background-color: #ff8acc;
}
/* =============*/
.small-panel {
    max-width: 450px;
    margin: auto;
}



/*============End Common Css================
*/
.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1002;
    padding: 10px 0 5px
}

.sidebar-toggle-box {
    float: right;
    padding-left: 15px;
    font-size: 24px;
}

.logo {
    display: inline-block;
    color: #194f82;
}

    .logo svg {
        width: 30px;
        height: 30px;
    }

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.top-menu > li > a {
    margin: -10px 0 -6px;
}

.top-menu .profiles_menu {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 0;
    padding: 0 0;
    min-width: 100%;
    font-size: 12px;
}

.profiles_menu li {
    padding: 3px;
    border-bottom: 1px solid #f1f2f7;
}

/*sidebar*/
#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #3b4354;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    white-space: nowrap;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

.sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #fff;
    background: #454d60;
}

.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(44, 59, 65);
}

#sidebar > ul > li > ul.sub {
    display: none;
}

    #sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
        display: block;
    }

ul.sidebar-menu li ul.sub li {
    background: #35404D;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

    ul.sidebar-menu li ul.sub li:last-child {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
    }

    ul.sidebar-menu li ul.sub li a {
        font-size: 12px;
        padding: 0 0 0 32px;
        line-height: 35px;
        height: 35px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #737B83;
    }

        ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
            color: #FF6C60;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: block;
        }

ul.sidebar-menu li {
    line-height: 20px !important;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

    ul.sidebar-menu li.sub-menu {
        line-height: 15px;
    }

    ul.sidebar-menu li a span {
        display: inline-block;
    }

    ul.sidebar-menu li a {
        color: #b1b5b9;
        text-decoration: none;
        display: block;
        padding: 10px 5px 10px 5px;
        font-size: 12px;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
            background: rgba(105, 113, 132, 0.23);
            color: #fff;
            display: block;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        ul.sidebar-menu li a i {
            font-size: 15px;
            padding-left: 6px;
        }

        ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i, ul.sidebar-menu li.active a i {
            color: #ffc10d;
        }

#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-right: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: left;
    height: 0;
    margin-left: 10px;
    margin-top: 6px;
    width: 0;
}

#sidebar > ul > li > a .arrow.open {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: left;
    height: 0;
    margin-left: 10px;
    margin-top: 8px;
    width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-right: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#main-content {
    margin-right: 180px;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    min-height: 100vh;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    bottom: 0px;
    color: #98a6ad;
    text-align: center !important;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0px;
    left: 0;
}

.wrapper {
    padding: 15px;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
/* Inbox-widget */
.inbox-widget .inbox-item {
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 9px 0 10px;
    position: relative;
}

    .inbox-widget .inbox-item .inbox-item-img {
        display: block;
        float: left;
        margin-right: 15px;
        width: 40px;
    }

    .inbox-widget .inbox-item img {
        width: 40px;
    }

    .inbox-widget .inbox-item .inbox-item-author {
        color: #333333;
        display: block;
        margin: 0;
    }

    .inbox-widget .inbox-item .inbox-item-text {
        color: #98a6ad;
        display: block;
        font-size: 12px;
        margin: 0;
    }

    .inbox-widget .inbox-item .inbox-item-date {
        color: #98a6ad;
        font-size: 11px;
        position: absolute;
        left: 7px;
        top: 17px;
        direction: ltr;
    }

.header-title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}

.inbox-widget > a {
    display: block;
}
/*************calender******/
[data-name="md-persiandatetimepicker"] button {
    height: 22px;
}

[data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"] tr td:nth-child(6n+3) .dropdown {
    padding-right: 2px;
}

[data-name="md-datetimepicker-title"] {
    background-color: #f1f2f7;
    border-radius: 0;
}

.popover {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .2);
}

[data-name="md-persiandatetimepicker-weekdaysnames"] td, [data-name="md-persiandatetimepicker"] tbody td {
    border-left: 1px solid #ebeff2
}

    [data-name="md-persiandatetimepicker-weekdaysnames"] td:first-child, [data-name="md-persiandatetimepicker"] tbody td:first-child {
        border-right: 1px solid #ebeff2
    }

[data-name="md-persiandatetimepicker"] table.table td {
    padding: 4px 2px;
}
/*
    =========Media============
*/
@media (min-width:992px) {
    .checkbox-strip-2 > div:nth-child(4n+1), .checkbox-strip-2 > div:nth-child(4n+2) {
        background-color: #f4f8fb !important;
    }

    .top-20-md {
        top: 20px;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        display: none !important;
        -webkit-transform: translateZ(0);
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }

    .sidebar-mini.sidebar-collapse #main-content > wrapper {
        margin-left: 50px !important;
        z-index: 840;
    }

    .sidebar-collapse #main-content {
        margin-right: 50px !important;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span, .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
            display: block !important;
            position: absolute;
            width: 180px;
            right: 26px;
            z-index: 5000;
            background: #454d60;
            top: 0;
            min-height: 40px;
            line-height: 40px;
            padding-right: 20px;
            border-radius: 5px 0 0px 5px;
        }
}

@media(max-width:991px) {
    .CheckBoxList-2 > div {
        width: 100%;
    }

    .checkbox-strip-2 > div:nth-child(2n+1) {
        background-color: #f4f8fb !important;
    }

    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
        -webkit-overflow-scrolling: touch
    }

        .table-responsive > .table {
            margin-bottom: 0
        }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap
            }

        .table-responsive > .table-bordered {
            border: 0
        }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0
            }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0
            }
}

@media (max-width: 767px) {
    .m-t-15-xs {
        margin-top: 15px;
    }

    .pd-rl-0-xs {
        padding-right: 0;
        padding-left: 0;
    }
    /*.inline-xs{display:inline}*/
    #main-content {
        margin-right: 0;
    }

    .main-sidebar {
        -webkit-transform: translate(180px, 0);
        -ms-transform: translate(180px, 0);
        -o-transform: translate(180px, 0);
        transform: translate(180px, 0);
    }

    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.profileImage {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.max-width-155px {
    max-width: 155px;
}

.max-width-185px {
    max-width: 185px;
}


.width-40 {
    width: 40%;
}

.passwordForgot {
    font-size: 12px;
    float: left;
    padding-top: 2px;
}

/*.checkbox-custom {
    padding: 0;
}*/

.positionRelative {
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -ms-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: -60px 0 0 -60px;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-refresh {
    position: absolute;
    top: 20px;
    left: 35px;
    z-index: 3;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}


.content {
    /*background: #fff;*/
    -ms-border-radius: 3px;
    border-radius: 3px;
    /*box-shadow: 0px 1px 1px #aaa;*/
    padding: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}